body {
    margin : 0px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5)),
      url('src/assets/LandingPageBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
